fastapi # API framework
uvicorn # ASGI database
sqlalchemy # ORM for database
pymysql # MySQL driver
psycopg2-binary
python-multipart # from data support
pydantic[email] # data validation
cryptography
